<div class="container py-4">
  <div class="header d-flex mt-4"> 
  <h1 class="titulo2">{{character.breeds[0].name | uppercase}}</h1> 
  </div>
  <hr>
  
  <div class="row d-flex">
    <div class="col-md-5">
      <img src="{{character.url}}"  class="img-Fluid">
      <br><br>
    </div>
      
  
    <div class="col-md-7">
      <p class="parrafo">{{character.breeds[0].description}}</p>
      <h2 class="temperament">{{character.breeds[0].temperament}}</h2>
      <h3 class="origin">{{ character.breeds[0].origin }}</h3>
      <h4 class="life_span">{{character.breeds[0].life_span}}</h4>
    </div>
  </div>
  
</div>
      
  

