:root {
  --color-texto: #373652;
  --negro: #212d39;
  --fondo: #f8f9fc;
  --border-bottom: #e1e1f1;
  --borde-rifa: #dde6f8;
  --gris-claro: #f0f1f5;
  --color-parrafos: #6e869e;
  --amarillo: #e5d623;
  --amarillo-quemado: #f0cc3e;
  --naranja: #ee7d33;
  --blanco: #fff;
  --fondo-input: #E5EBEF;
}


.contenido_general {
  padding: 3% 5%;
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: var(--fondo) !important;
}

.titulo {
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--color-texto);
  font-size: 5rem;
  padding: 2%;
}

.titulo2 {
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--naranja);
  font-size: 4rem;
}

input {
  background-color: var(--fondo-input);
  border: 0px solid #b9cbdd;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 1.125rem !important;
  font-weight: 500 !important;
  height: 3rem !important;
  border-radius: 12px;
}


input:disabled {
  background-color: #E5EBEF;
}

.card {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  text-decoration: none !important;
  color: var(--color-texto) !important;
  min-width: 0 !important;
  word-wrap: break-word !important;
  background-color: #fff !important;
  background-clip: border-box !important;
  border: 1px solid rgba(0, 0, 0, .125) !important;
  border-radius: 0.875rem !important;
  cursor: pointer !important;
}

.card-img-top {
  border-top-left-radius: 0.875rem !important;
  border-top-right-radius: 0.875rem !important;
}

.name {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-texto);
}

.origin {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  color: var(--color-parrafos);
}

.img-Fluid {
  width: 30rem !important;
  height: 30rem;
  border-radius: 50% !important;
}

.parrafo {
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  padding: 4%;
}

.temperament {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: var(--color-texto);
  margin-bottom: 1rem;
}

.life_span {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: var(--naranja);
}

.caja_valor {
  border-radius: 50%;
  background-color: var(--naranja);
  color: var(--blanco);
  height: 5rem;
  width: 5rem;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton_crear {
  background-color: var(--naranja) !important;
  border: none !important;
  font-size: 1.125rem !important;
  font-weight: 700 !important;
}

.numero_card {
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--color-texto);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Animaciones */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@media (min-width: 768px) {}

@media (max-width: 575.98px) {
  .titulo {
    font-size: 4rem;
  }
}